@media screen and (min-width: 768px) {

    /* HAMBURGER HIDE */

    #menu-button {
        display: none;
    }

    /* HEADER */

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
    }

    header h1 {
        margin-bottom: 0;
    }

    /* NAVIGATION */

    nav {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }

    /* GALLERY */

    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }

}