@media screen and (min-width: 768px) {

    /* HAMBURGER HIDE */

    #menu-button {
        display: none;
    }

    /* NAVIGATION */

    nav {
        display: flex !important;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
    }

    /* GALLERY GRID */

    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }

}